* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
}

div {
    width: 30%;
    margin: 0 auto;
    margin-top: 2em;
    padding: 2em;
    background-color: antiquewhite;
    text-align: center;
    border: 2px solid rgb(29, 28, 28);
}

select {
    background-color: rgba(250, 235, 215, 0.489);
    padding: 0.7em;
    border-radius: 10px;
    border: 1px solid rgb(29, 28, 28);
}

input {
    padding: 0.7em;
    border-radius: 10px;
    border: 1px solid rgb(29, 28, 28);
    background-color: rgba(250, 235, 215, 0.489);
}